.crossbar {
	/* Layout */
	height: rem-calc(30);
	position: absolute;
	top: rem-calc(25);
	width: 100%;

	/* Style */
	border-top: rem-calc(4) solid black;
	border-bottom: rem-calc(4) solid black;
	background: linear-gradient(90deg, white, #222);
	z-index: 0; //Crossbar needs to be below standard viewing pane

	&:before, &:after {
		/* Layout */
		content: " ";
		height: rem-calc(1);
		position: absolute;
		width: 100%;

		/* Style */
		background: black;
	}
	
	&:before {
		/* Layout */
		top: rem-calc(7);
	}

	&:after {
		/* Layout */
		top: rem-calc(15);
	}
}

.crossTitle {
	// h4 {
	// 	line-height: 30px;
	// 	font-size: 30px;
	// 	height: 30px;
	// 	margin: 0 auto;
	// 	padding-left: 5px;
	// 	@include title-text;
	// 	a {
	// 		@include title-text;
	// 	}
	// }
}