footer {
	/* Layout */
	clear: both;
	height: rem-calc(100);
	margin-top: rem-calc(20);
	padding-top: rem-calc(20);
	position: relative;
	width: 100%;

	/* Style */
	background: linear-gradient(-30deg, #000, $fgn-blue);
	border-top: 1px solid #999;
	color: #999;
	font-size: rem-calc(10);
	text-align: center;
	
	p {
		/* Layout*/
		margin-bottom: 0;

		/* Style */
		font-size: rem-calc(10);
	}
}