header {
	@media #{$medium-up} {
		/* Layout */
		height: 125px;
		position: relative;

		/* Style */
		background: linear-gradient(0deg, gray, #222);
		border-bottom: 1px solid #999;		
	}
	// Customize crossbar for this layout
	.crossbar {
		/* Layout */
		top: 65px;
	}

	.logo {
		/* Layout */
		float: left;
		height: rem-calc(125);
		position: relative;
		width: rem-calc(250);
		z-index: 1;
	}
}

.top-bar {
	/* Style */
	background: linear-gradient(0deg, black, #222);
	
	@media #{$medium-up} {
		/* Layout */
		height: rem-calc(25);
		left: rem-calc(25);
		overflow: hidden;
		top: rem-calc(95);
		width: calc(100% - rem-calc(280));

		/* Style */
		border: 2px solid black;
		border-top: none;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		line-height: rem-calc(25);
	}
}

.top-bar-section ul li {
	/* Style */
	background: transparent;
}