@mixin card-display {
    @media #{$medium-up} {
        //
    }
    overflow: hidden;
    position: relative;
    &:after {
        position: absolute;
        content: " ";
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border: 10px solid black;
    }
}


@mixin title-text {
    font-family: 'Blippo Black';
    color: white;
    letter-spacing: -1px;
    // text-shadow: 2px 2px 2px black, -2px -2px 2px black;
    -webkit-text-shadow: none, none;
    -webkit-text-stroke: 2px black;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    z-index: 1;
    position: relative;
}