.post {
	position: relative;
	width: 100%;
	border: 1px solid white;
	border-radius: 10px;
	margin-bottom: 15px;
	margin-top: 15px;
	background: linear-gradient(-30deg, #666, #eee);
	@include card-display;
	>.columns, >.row {
		padding: 15px;
		z-index: 1;
	}
	.crossbar {
		top: calc(42vw + 3px);
		@media #{$medium-up} {
			top: calc(29vw + 2px);
		}
		@media #{$large-up} {
			top: 299px;
		}
		.category {
			position: absolute;
			width: 55px;
			height: auto;
			// top: -43px;
			bottom: 0px;
			right: 15px;
			@media #{$medium-up} {
				width: 100px;
				height: auto;
				// top: calc(-8vw - 4px);
			}
			@media #{$large-up} {
				// top: -80px;
			}
		}
	}
	h3 {
		line-height: 30px;
		font-size: 30px;
		margin: 0 auto;
		@include title-text;
	}
	.postTitle {
		padding-top: 3px;
	}
	.postTitle, .postInfo, .postContent {
		position: relative;
		z-index: 1;
		.author, .category {
			width: 55px;
			height: 55px;
			margin-bottom: 10px;
			float: right;
			clear: right;
		}

	}
	.postContent {
		.author {
			float: left;
			clear: left;
			margin-right: 10px;
			margin-bottom: 5px;
			width: 70px;
			height: 70px;
		}
	}
	.youtube {
		text-align: center;
		iframe {
			width: 90vw;
			height: 55vw;
			margin: 0 auto;
			text-align: center;
			@media #{$medium-up} {
				width: 470px;
				height: 286px;
			}
		}
	}
}

img.author {
	border: 2px solid black;
}

.blog {
	>.row {
		padding-top: 15px;
	}
	.post {
		// position: relative;
		// width: 100%;
		// border: 1px solid white;
		// border-radius: 10px;
		// margin-bottom: 15px;
		@include card-display;
		@media #{$medium-up} {
			max-height: 450px;
			height: 45vw;
		}
		
		img.postImage {
			position: absolute;
			width: 1000px;
			height: 450px;
			top: 0;
			left: 0;
			max-width: 100vw;
			max-height: 45vw;
			@media #{$medium-up} {
				left: -25%;
			}
		}
		.crossbar {
			top: 40px;
			&:after, &:before {
				background: linear-gradient(90deg, #ddd, #000);
			}
		}
		.postTitle {
			padding: 10px;
			h4 {
				line-height: 30px;
				font-size: 30px;
				height: 30px;
				margin: 0 auto;
				padding-left: 5px;
				a {
					@include title-text;
				}
			}
			p {
				color: black;
				margin-bottom: 0;
				line-height: 30px;
				padding-left: 5px;
				white-space: nowrap;
			}
		}
		.postInfo {
			padding: 20px 20px 0 0;
			height: 45vw;
			@media #{$medium-up} {
				height: auto;
			}
			.category {
				top: 0;
			}
		}
		.postContent {
			margin: 0 10px 10px 10px;
			width: calc(100% - 20px);
			background: linear-gradient(-30deg, black, #c80);
			border-top: 4px solid black;
			@media #{$medium-up} {
				border-top: none;
				background: rgba(black, 0.8);
				p a {
					color: $yellow;
				}
				margin: 0;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				width: 100%;
			}
			p {
				color: white;
				margin-bottom: 10px;
			}
			a.button {
				float: right;
				color: white;
				// margin-right: 10px;
			}
		}
	}
}

.post-comments {
	position: relative;
	width: 100%;
	border: 1px solid white;
	border-radius: 10px;
	margin-bottom: 15px;
	margin-top: 15px;
	background: linear-gradient(-30deg, #666, #eee);
	@include card-display;
	>.row {
		z-index: 1;
		position: relative;
	}
	>.columns, >.row {
		padding: 15px;
		z-index: 1;
	}
	.comment {
		padding-left: 15px;
	}
	p {
		margin-bottom: 0;
		margin-top: 5px;
		border-top: 1px solid black;
		padding-top: 5px;
	}
	hr {
		margin: 10px 0 10px
	}
}
