#deckBuilder {
	clear: both;
	padding: 0 20px;
	position: relative;
	z-index: 2;
	@media #{$medium-up} {
		.columns.medium-6:nth-child(odd) {
			padding-right: 10px;
		}
		.columns.medium-6:nth-child(even) {
			padding-left: 10px;
		}
	}
	&.Gohan {
		background: url('/assets/img/dbz/builder/gohan.png') top right no-repeat;
		background-size: 80%;
	}
	&.Goku {
		background: url('/assets/img/dbz/builder/goku.png') top right no-repeat;
		background-size: 70%;
	}
	&.Krillin {
		background: url('/assets/img/dbz/builder/krillin.png') top right no-repeat;
		background-size: 75%;
	}
	&.Piccolo {
		background: url('/assets/img/dbz/builder/piccolo.png') top right no-repeat;
		background-size: 75%;
	}
	&.Trunks {
		background: url('/assets/img/dbz/builder/trunks.png') top right no-repeat;
		background-size: 80%;
	}
	&.Vegeta {
		background: url('/assets/img/dbz/builder/vegeta.png') top right no-repeat;
		background-size: 70%;
	}
	&.Frieza {
		background: url('/assets/img/dbz/builder/frieza.png') top right no-repeat;
		background-size: 80%;
	}
	&.Ginyu {
		background: url('/assets/img/dbz/builder/ginyu.png') top right no-repeat;
		background-size: 80%;
	}
	h3 {
		@include title-text;
		text-transform: uppercase;
		margin: 0;
	}
	h5 {
		text-transform: uppercase;
		color: $yellow;
		clear: both;
	}
}

.mainPanel {
	&.Black {
		background-image: linear-gradient(-30deg, #111, #444);
	}
	&.Blue {
		background-image: linear-gradient(-30deg, #111, #255196);
	}
	&.Namekian {
		background-image: linear-gradient(-30deg, #111, #00A8AE);
	}
	&.Orange {
		background-image: linear-gradient(-30deg, #111, #DA9934);
	}
	&.Red {
		background-image: linear-gradient(-30deg, #111, #900);
	}
	&.Saiyan {
		background-image: linear-gradient(-30deg, #111, #060);
	}
}

.personality, .mastery {
	// select {
	// 	width: 50%;
	// 	height: rem-calc(20);
	// 	line-height: 1;
	// 	padding: 0 5px;
	// 	margin: 0 0 5px 0;
	// 	vertical-align: top;
	// }
	// label {
	// 	margin-left: 10px;
	// 	padding-top: 2px;
	// 	display: inline-block;
	// 	@include title-text;
	// 	text-transform: uppercase;
	// 	font-size: rem-calc(20);
	// 	height: rem-calc(20);
	// 	line-height: 1;
	// }
}
.lifeDeck {
	padding-bottom: 15px;
}
.lifeDeck .card {
	height: 50px;
	vertical-align: top;
	> div {
		float: left;
		width: auto;
	}
	.image {
		width: 45px;
	}
	.cardTitle {
		margin-right: 10px;
	}
	.amount {
		padding-right: 5px;
	}
	.controls {
		height: 50px;
		width: 15px;
	}
	img {
		height: 50px;
	}
	span {
		height: 50px;
		line-height: 50px;
		font-size: 20px;
		color: white;
		@include title-text;
	}
	input {
		width: 25px;
		height: 50px;
		background-color: rgbz(#fff,0.5);
	}
	a {
		display: inline-block;
		float: left;
		clear: left;
		padding: 0px;
		border: 1px solid black;
		border-radius: 3px;
		width: 15px;
		height: 15px;
		font-size: 12px;
		line-height: 12px;
		text-align: center;
		margin-bottom: 2px;
		background: linear-gradient(-30deg, #000, #060);
		color: white;
		&.increase {
			background: linear-gradient(-30deg, #000, #060);
		}
		&.decrease {
			background: linear-gradient(-30deg, #000, #006);
		}
		&.remove {
			background: linear-gradient(-30deg, #000, #600);
			margin-bottom: 0;
		}
	}
}