.filters {
	clear: both;
	padding: 0 20px;
	.checkbox {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
	.cardType {
		label {
			margin: 0 0 10px 0;
			padding: 5px;
			border: 1px solid black;
			border-radius: 3px;
			background: linear-gradient(-30deg, #000, $fgn-blue);
			color: #999;
			font-size: rem-calc(12);

			&:hover {
				border-color: white;
				color: white;
			}
		}
		input:checked + label {
			color: $yellow;
		}
	}
}

.toggle {
	.checkbox {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}

	label {
		margin: 0 0 10px 0;
		padding: 5px;
		border: 1px solid black;
		border-radius: 3px;
		background: linear-gradient(-30deg, #000, #666);
		color: #999;
		font-size: rem-calc(12);
		text-align: center;
		width: 100%;
		&:hover {
			border-color: white;
			color: white;
		}
	}
	input[type="checkbox"] + label {
		margin: 0 0 10px 0;
	}
	input:checked + label {
		color: $yellow;
		background: linear-gradient(-30deg, #000, $fgn-blue);
	}
	margin-bottom: 10px;
}