@font-face {
	font-family: 'Blippo Black';
	src: url('/assets/fonts/Blippo Black.eot');
	src: local('☺'), url('/assets/fonts/Blippo Black.woff') format('woff'), url('/assets/fonts/Blippo Black.ttf') format('truetype'), url('/assets/fonts/Blippo Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bauhaus';
	src: url('/assets/fonts/Bauhaus.eot');
	src: local('☺'), url('/assets/fonts/Bauhaus.woff') format('woff'), url('/assets/fonts/Bauhaus.ttf') format('truetype'), url('/assets/fonts/Bauhaus.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}