a {
	font-weight: bold;
}

html {
	background-color: #111 !important;
	background-image: linear-gradient(0deg, #111, #777);
	background-repeat: no-repeat;
	body {
		background: transparent;
		position: relative;
		padding-bottom: 120px;
	
	}
}

.page {
	min-height: 100%;
	height: auto !important;
	clear: both;
	position: relative;
}

div.rightPanel {
	margin-top: 15px;
	@media #{$medium-up} {
		margin-left: 15px;
	}
}

input.btn {
	padding: 16px 32px;
	color: white;
}
input.button {
	margin: 0 0 10px 0;
	padding: 5px;
	border: 1px solid black;
	border-radius: 3px;
	background: linear-gradient(-30deg, #000, $fgn-blue);
	color: #999;
	font-size: rem-calc(12);
	line-height: rem-calc(18);
	&.submit {
		background: linear-gradient(-30deg, black, #c80);
		color: white;
		border-color: white;
		width: 100%;
	}
}
a.button, button, input.btn {
	border: 1px solid white;
	border-radius: 10px;
	background: linear-gradient(-30deg, #000, $fgn-blue);
	&:hover {
		background: linear-gradient(-30deg, #000, #7794DB);
	}
}

ul.pagination {
	clear: both;
	margin-left: 15px;
	li {
		display: inline-block;
		padding: 0px;
		border: 1px solid black;
		border-radius: 3px;
		width: 25px;
		height: 25px;
		background: linear-gradient(-30deg, #000, $fgn-blue);
		color: #999;
		&:hover {
			border-color: white;
			span, a {
				color: white;
			}
		}
		&.active {
			color: $yellow;
			&:hover {
				span, a {
					color: $yellow;
				}
				border-color: black;
			}
		}
		span, a {
			line-height: 25px;
			height: 25px;
			text-align: center;
			display: block;
			padding: 0;
			border-radius: 3px;
			&:hover {
				border: none;
			}
		}
		&:hover a, &:hover button, a:focus, button:focus {
			// border: 1px solid $fgn-blue;
			background: none;
			// color: fgn-blue;
		}
	}
}

.reveal-modal.card {
	width: 450px;
	height: auto;
	max-width: 100vw;
	// max-height: 71.4285vw;
	left: 0;
	right: 0;
	background: none;
	padding: 0;
	border: none;
	// border: 1px solid #444;
	margin: 0 auto;
	border-radius: 30px;
	-webkit-box-shadow: none;
	box-shadow: none;
	&.mastery {
		width: 630px;
	}
	img.cardImage {
		border-radius: 20px;
		border: 1px solid #444;
		// position: relative;
		// margin: 0 auto;
		// display: block;
		// max-width: 450px;
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.4);
	    box-shadow: 0 0 10px rgba(0,0,0,0.4);
	}
}