.mainPanel {
	margin-top: 15px;
	min-height: 300px;
	background: linear-gradient(-30deg, #000, $fgn-blue);
	background:	linear-gradient(-30deg, #666666, #eeeeee);
	border-radius: 10px;
	border: 1px solid white;
	margin-bottom: 15px;
	@include card-display;
	position: relative;
	.crossbar {
		height: 20px;
		top: 25px;
		border-top-width: 2px;
		border-bottom-width: 2px;
		&:before {
			top: 5px;
		}
		&:after {
			top: 11px;
		}
	}
	h1 {
		@include title-text;
		float: left;
		font-size: 33px;
		padding: 10px 0 0 15px;
		a {

		}
	}
}

.games {
	position: relative;
	z-index: 1;
	>a {
		display: inline-block;
	}
	ul.cardlist {
		display: block;
		clear: both;
		margin-left: 0;
		padding: 0 15px;
		list-style-type: none;
		li {
			display: block;
			margin-bottom: 5px;
			background: rgba(black, 0.1);
			&:nth-child(even) {
				background: rgba(black, 0.2);
			}
			.column, .columns {
				padding: 5px;
			}
			// padding: 0px 5px;
		}
		h3, h4, h5, h6, p {
			color: #111;
		}
		h3 {
			margin: 0;
			font-size: 25px;
		}
		h4 {
			margin: 0;
			font-size: 16px;
		}
		h5 {
			margin: 0;
		}
		h6 {
			margin: 0;
			font-size: 14px;
			white-space: nowrap;
			text-align: right;
		}
		p {
			margin: 0;
			font-size: 12px;
		}
		img {
			border-radius: 5px;
			cursor: pointer;
		}
	}
}