.sidebar {
	// min-height: 300px;
	background: linear-gradient(-30deg, #000, $fgn-blue);
	border-radius: 10px;
	border: 1px solid white;
	margin-bottom: 15px;
	@include card-display;
	z-index: 1;
	.crossbar {
		height: 15px;
		top: 23px;
		border-top-width: 2px;
		border-bottom-width: 2px;
		&:before {
			top: 3px;
		}
		&:after {
			top: 7px;
		}
	}
	h3 {
		@include title-text;
		float: left;
		font-size: 25px;
		padding: 10px 0 0 15px;
		a {

		}
	}
	.textarea {
		clear: both;
		margin: 0px 15px 15px 15px;
		padding: 5px;
		background: linear-gradient(-30deg, #554422, #ccaa55);
		box-shadow: inset 2px 2px 5px black;
		border: 1px solid black;
		border-radius: 5px;
		position: relative;
		z-index: 1;
		&>.row {
			padding-top: 2px;
			padding-bottom: 5px;
			&:not(:first-child) {
				border-top: 1px solid black;
				padding-top: 5px;
			}
		}
		.author {
			width: calc(100% - 5px);
			border: 2px solid black;
		}
		.comment, .post, .event, .item, .controls {
			margin-left: 5px;
			color: white;
			h6 {
				color: black;
				font-size: 10px;
				text-overflow: ellipsis;
				// white-space: nowrap;
				margin: 0;
				overflow: hidden;
			}
			p {
				font-size: 9px;
				text-overflow: ellipsis;
				margin: 0;
			}
		}
	}
	
}

.controls {
	z-index: 2;
}
