body.user  {
	.userForm {
		position: relative;
		width: 100%;
		border: 1px solid white;
		border-radius: 10px;
		margin-bottom: 15px;
		margin-top: 15px;
		background: linear-gradient(-30deg, #666, #eee);
		@include card-display;
		fieldset, table, form>div.form-group {
			border: none;
			clear: both;
			margin-top: 40px;
			position: relative;
			z-index: 1;
			padding: 20px;
		}
		table {
			margin-left: 20px;
		}
		.crossTitle {
			position: relative;
			top: 28px;
			left: 15px;
		}
	}
}