$black-transparent: rgba(0,0,0,0.75);
$dark-transparent: rgba(57,57,57,0.80);
$dark-light-transparent: rgba(90,90,90,0.80);
$red-transparent: rgba(255,0,0,0.50);
$dark-color: rgb(57,57,57);
$light-grey: rgb(211,211,211);
$aa-orange: #c93;
$yellow: #FFCB05;
$army-gold: #FFCB05;
$fgn-blue: #38476d;
$body: white;